*{margin: 0; padding: 0; box-sizing: border-box;}

/* utility classes strat*/
button {
  display: block;
  margin: 0 auto;
  margin: 5px 0;
  border: none;
}

.flex-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
} 

input, select, .btn  {
  width: 90%;
  margin: 5px 0;
}

select , input::placeholder {
  color: #808080;
} 

/* utility classes ends*/

body {
  font-family: 'poppins' sans-serif;
  min-height: 100vh;
  color: #fff;
  background: #5A4FCF ;
}

.main-container {
  background: rgba(0,0,0,0.900);
  text-align: center;
  width: 350px;
  padding: 10px 30px;
}

.container h1 {
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: #007FFF;
  opacity: 0.95;
}

.container  a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 12px;
  color: #fff;
  background: rgb(0,71,171);
  background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

.container .ads-roll {
  padding: 6px;
  border-radius: 8px;
  border: 2px solid #007FFF;
}

.container div h5 {
  padding: 5px 0;
  font-size: 18px;
}

.container .ads-btn-con button{
  border-radius: 15px;
  width: 95%;
  background: rgb(8,146,208);
  background: linear-gradient(159deg, rgba(8,146,208,1) 0%, rgba(75,0,130,1) 100%);
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
}

.withdraw-container {
  background: #282828;
  padding: 10px 0;
}

.withdraw-container input, select{
  padding: 6px;
  background: rgba(0, 0, 0, 0.800);
  border: none;
  outline: none;
  border-radius: 10px;
}

.withdraw-container button {
  padding: 10px 25px;
  border-radius: 12px;
  color: #fff;
  background: rgb(100,149,237);
  background: linear-gradient(159deg, rgba(100,149,237,1) 0%, rgba(124,158,195,1) 100%);
}
